<% include ./partials/header %>

  <div class="container-fluid">
    <a id="newsfeed" class="btn btn-dark btn-lg btn-block" type="button">News Feed</a>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>All article in this site is owned by premireleague.com, I'm just using it for studying purpose.</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- news feed -->
    <div class="card-group justify-content-md-center">
      <div class="row row-eq-height">

        <% plNews.forEach(function(news){ %>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 card text-center">
            <img class="card-img-top" id="news-images" src="<%= news.image %>" alt="Card image cap">
            <div class="card-body">
              <%if (news.title.length > 35) { %>
                <h5 class="card-title" data-toggle="tooltip" data-placement="top" title="<%= news.title %>">
                  <%= news.title %>
                </h5>
                <% } else { %>
                  <h5 class="card-title">
                    <%= news.title %>
                  </h5>
                  <% } %>
            </div>
            <div class="card-footer text-muted">
              📅
              <%= moment(news.created).fromNow() %>

            </div>
            <a class="btn btn-outline-dark" id="readMore" href="/premire-league/news/<%= news._id %>" role="button">Read more</a>
          </div>
          <% }) %>
      </div>
    </div>


    <!-- end of news feed -->

    <% if (typeof Search !== "undefined") { %>
      <!-- pagination for search page -->

      <!-- first page navigation -->
      <% if (pages && pages > 0) { %>
        <ul class="pagination pagination-sm justify-content-center">
          <% if (current == 1 || !current ) { %>
            <li class="page-item disabled">
              <a class="page-link" href="#">First</a>
            </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/premire-league/news?Search=<%= Search %>&page=1">First</a>
              </li>
              <% } %>
                <!-- end of first page navigation -->

                <!-- previous page navigation -->
                <% if (current ==1) { %>
                  <li class="page-item disabled">
                    <a class="page-link" href="#">«</a>
                  </li>
                  <% } else { %>
                    <li class="page-item">
                      <a class="page-link" href="/premire-league/news?Search=<%= Search %>&page=<%= Number(current) - 1 %>">«</a>
                    </li>
                    <% } %>
                      <!-- end of previous page navigation -->

                      <!-- page number navigation -->
                      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                        <% if (i !== 1) { %>
                          <li class="page-item disabled">
                            <a class="page-link">...</a>
                          </li>
                          <% } %>

                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                              <% if (i == current) { %>
                                <li class="page-item active">
                                  <a class="page-link" href="#">
                                    <%= i %>
                                  </a>
                                </li>
                                <% } else { %>
                                  <li class="page-item">
                                    <a class="page-link" href="/premire-league/news?Search=<%= Search %>&page=<%= i %>">
                                      <%= i %>
                                    </a>
                                  </li>
                                  <% } %>

                                    <% if (i == Number(current) + 4 && i < pages) { %>
                                      <li class="page-item disabled">
                                        <a class="page-link" href="#">...</a>
                                      </li>
                                      <% }%>
                                        <% } %>
                                          <!-- end of page number navigation -->

                                          <!-- next page navigation -->
                                          <% if (current == pages) { %>
                                            <li class="page-item disabled">
                                              <a class="page-link" href="#">»</a>
                                            </li>
                                            <% } else { %>
                                              <li class="page-item">
                                                <a class="page-link" href="/premire-league/news?Search=<%= Search %>&page=<%= Number(current) + 1 %>">»</a>
                                              </li>
                                              <% } %>
                                                <!-- end of next page navigation -->

                                                <!-- last page navigation -->
                                                <% if (current == pages) { %>
                                                  <li class="page-item disabled">
                                                    <a class="page-link" href="#">Last</a>
                                                  </li>
                                                  <% } else { %>
                                                    <li class="page-item">
                                                      <a class="page-link" href="/premire-league/news?Search=<%= Search %>&page=<%= pages %>">Last</a>
                                                    </li>
                                                    <% } %>

                                                      <!-- end of last page navigation -->
        </ul>
        <% } %>

          <!-- end pagination for search page -->
          <% } else { %>
            <!-- first page navigation -->
            <% if (pages && pages > 1) { %>
              <ul class="pagination pagination-sm justify-content-center">
                <% if (current == 1 || !current ) { %>
                  <li class="page-item disabled">
                    <a class="page-link" href="#">First</a>
                  </li>
                  <% } else { %>
                    <li class="page-item">
                      <a class="page-link" href="/premire-league/news?page=1">First</a>
                    </li>
                    <% } %>
                      <!-- end of first page navigation -->

                      <!-- previous page navigation -->
                      <% if (current ==1) { %>
                        <li class="page-item disabled">
                          <a class="page-link" href="#">«</a>
                        </li>
                        <% } else { %>
                          <li class="page-item">
                            <a class="page-link" href="/premire-league/news?page=<%= Number(current) - 1 %>">«</a>
                          </li>
                          <% } %>
                            <!-- end of previous page navigation -->

                            <!-- page number navigation -->
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                              <% if (i !== 1) { %>
                                <li class="page-item disabled">
                                  <a class="page-link">...</a>
                                </li>
                                <% } %>

                                  <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                      <li class="page-item active">
                                        <a class="page-link" href="#">
                                          <%= i %>
                                        </a>
                                      </li>
                                      <% } else { %>
                                        <li class="page-item">
                                          <a class="page-link" href="/premire-league/news?page=<%= i %>">
                                            <%= i %>
                                          </a>
                                        </li>
                                        <% } %>

                                          <% if (i == Number(current) + 4 && i < pages) { %>
                                            <li class="page-item disabled">
                                              <a class="page-link" href="#">...</a>
                                            </li>
                                            <% }%>
                                              <% } %>
                                                <!-- end of page number navigation -->

                                                <!-- next page navigation -->
                                                <% if (current == pages) { %>
                                                  <li class="page-item disabled">
                                                    <a class="page-link" href="#">»</a>
                                                  </li>
                                                  <% } else { %>
                                                    <li class="page-item">
                                                      <a class="page-link" href="/premire-league/news?page=<%= Number(current) + 1 %>">»</a>
                                                    </li>
                                                    <% } %>
                                                      <!-- end of next page navigation -->

                                                      <!-- last page navigation -->
                                                      <% if (current == pages) { %>
                                                        <li class="page-item disabled">
                                                          <a class="page-link" href="#">Last</a>
                                                        </li>
                                                        <% } else { %>
                                                          <li class="page-item">
                                                            <a class="page-link" href="/premire-league/news?page=<%= pages %>">Last</a>
                                                          </li>
                                                          <% } %>

                                                            <!-- end of last page navigation -->
              </ul>
              <% } %>
                <% } %>

  </div>




  <% include ./partials/footer %>