<% include ./partials/header %>

<div class="ui divided items">
        <% plNews.forEach(function(news){ %>
         <div class="item">
            <div class="image">
              <img src="<%= news.image %>">
            </div>
            <div class="content">
              <a class="header"><%= news.title %></a>
              <div class="meta">
                <span class="cinema"><%= news.created.toDateString() %></span>
              </div>
              <div class="description">
                <p><%= news.description.substring(0,100); %></p>
              </div>
              <div class="extra">
                <a href="/premire-league/news/<%= news._id %>" class="ui floated basic violet button">
                  Read More
                  <i class="right chevron icon"></i>
                </a>
              </div>
            </div>
          </div>
        <% }); %>
    </div>

<% include ./partials/footer %>