<% include ./partials/header %>

	<div class="ui main text container">
		<div class="ui top attached segment">
			<div class="item">
					<div class="ui huge header">
							<%=plNews.title%>
						</div>
				<img class="ui centered rounded image" src="<%= plNews.image %>">
				<div class="content">
					<div class="meta">
						<span>
							Created at: <%= plNews.created.toDateString() %>
						</span>
					</div>
					<div class="description">
						<p>
							<%- plNews.description %>
						</p>
					</div>
				</div>
			</div>
			<% if(currentUser && plNews.author.id.equals(currentUser._id) || currentUser && currentUser.isSuperAdmin) { %>
				<a href="/premire-league/news/<%=plNews._id%>/edit" class="ui orange basic button">Edit News</a>
				<form style="display: inline" action="/premire-league/news/<%= plNews._id %>?_method=DELETE" method="POST">
					<button class="ui red basic button" type="submit">Delete News</button>
				</form>
				<% } %>

		</div>
	</div>
	
	<div class="ui main text container">
			
		<div class="ui top attached segment">
			<h2><i><u>Comments Feeds</u></i></h2>
				<% plNews.comments.forEach(function(comment){ %>
							<div class="ui comments">
						<div class="comment">
						  <!-- <a class="avatar">
							<img class="avatar" src="https://semantic-ui.com/images/avatar/small/stevie.jpg">
						  </a> -->
						  <div class="content">
							<a class="author"><b><u><%= comment.author.username.toUpperCase() %></b></u></a>
							<div class="metadata">
							  <div class="date"><%= comment.created.toDateString() %></div>
							</div>
							<div class="text">
								<i>
									<%= comment.text %>
								</i>
							</div>
						  </div>
						</div>
						<% }) %>
						</div>
						<% if(currentUser){ %>
							<form class="ui reply form" action="/premire-league/news/<%= plNews._id %>/comments" method="POST">
									<div class="ui huge header">Add New Comment to this article </div>
									<div class="field">
										<textarea class="field" name="comment[text]" required></textarea>
									</div>
									<input class="ui violet big basic button" type="submit">
									</form>
									
							<% } %>

							
						
		</div>

	
	

			

	<% include ./partials/footer %>